<div class="my-3"> 
    <h4>Add a todo</h4>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Todo title</label>
            <input type="title" [(ngModel)]="title" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea [(ngModel)]="desc" class="form-control" name="desc" id="desc" rows="2"></textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>  
    </form>
</div>